<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="test/html; charset=UTF-8" />
    <title>XiaoLu扫地机器人</title>
    <script src="{{url_for('static',filename='jquery-3.3.1.js')}}"  language="javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
        $("#runing").click(function(){
                $.ajax({
                        type: "GET",
                        url: "http://192.168.1.210/status",
                        data: {"action": "runing"},
                        dataType: "json",
                        cache: "false",
                        success: function(data){},
                        error: function(data){}
                });
        });
        $("#stop").click(function(){
                $.ajax({
                        type: "GET",
                        url: "http://192.168.1.210/status",
                        data: {"action": "stop"},
                        dataType: "json",
                        cache: "false",
                        success: function(data){},
                        error: function(data){}
                });
        });
});
</script>
</head>
<body>

  <table>
  <tr>
	<td><button id="runing" name="runing" style="height:150px;width:300px;border-width: 5px;">开始打扫</button></td>
	<td></td>
	<td><button id="stop" name="stop" style="height:150px;width:300px;border-width: 5px;">停止</button></td>
  </tr>
  </table>



</body>
</html>